<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muheda.mynewlibrary">

    <application>
        <activity android:name=".MainNewActivity">
            <intent-filter>
                <action android:name="com.example.muheda.mynewlibrary.MainNewActivity"/>
            </intent-filter>
        </activity>
    </application>

</manifest>